.ContainerBanner{
    position: relative;
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.ContainerBanner a{
    min-width: 100%;
    height: 800px;
}

.ContainerBanner img{
    width: 100%;
    height: 800px;
    object-fit: cover; /* Manter proporções da imagem */
}

.TextArea{

    flex-direction: column;
    position: absolute;
    top: 30%;
    right: 0.1px;
    background-color:rgba(60, 60, 60, 0.8); /* Cor de fundo com 80% de opacidade */
    color: aliceblue;
    margin: 10px 0px 10px 0;
    padding: 20px 20px 20px 20px;
    display: flex;
    max-width: 300px; /* Tamanho máximo do texto */
    min-width: 300px; /* Tamanho máximo do texto */
    max-height: 400px;
    min-height: 400px;
    overflow-wrap: break-word; /* Quebra o texto em palavras longas */
}

.titulo{
    font-family: "Inria Sans", sans-serif;
    font-weight: 500;
    text-align: center;
    display: flex;
    color: #3E97FF;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 15px;
}

.subtitulo{
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    text-align: left;
    display: flex;
    color: #FFF;
    margin-bottom: 20px;
}

.conteudo{
    font-weight: 400;
    font-family: "Inria Sans", sans-serif;
    text-align: left;
    display: flex;
    color: #C8C8C8;
}