.containerButtonSocial{
    background-color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inria Sans', sans-serif;
    margin: 10px 0px 10px 0px;
}

.titulo{
    text-align: center;
    color: #3E97FF;
    font-weight: 500;
    padding: 4px 0px 4px 0px;
}

.subtitulo{
    text-align: center;
    color: #FFF;
    font-weight: 300;
    padding: 4px 0px 4px 0px;
}
