.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container div{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label{
    color: #FFF;
    font-weight: 600;
    padding: 0px 0px 0px 0px;
    font-family: 'Inria Sans', sans-serif;
    font-size: 30px;
}

.titulo{
    height: 40px;
    font-family: 'Inria Serif', sans-serif;
}

.subtitulo{
    height: 40px;
    font-family: 'Inria Serif', sans-serif;
}

.conteudo{
    height: 200px;
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    font-size: 15px;
}

.imagemLink{
    height: 40px;
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    font-size: 15px;
}

.titulo, .subtitulo, .conteudo, .imagemLink {
    width: 500px;
    font-size: 15px;
    font-family: 'Inria Serif', sans-serif;
    font-weight: 600;
    padding: 5px;
}

.botao{
    align-items: center;
}
