.container{
    display: flex;
    align-items: center;
    height: 700px;
    margin-left: 50px;
    width: 50px;
}

label{
    color: #FFF;
    font-weight: 600;
    padding: 0px 0px 0px 0px;
    font-family: 'Inria Sans', sans-serif;
    font-size: 30px;
}
input{
    width: 300px;
    height: 30px;

}