.noticia a{
    display: flex;
    background-color: #202020;
    margin: 10px 20px 10px 20px;
    text-decoration: none;
}

.noticia img{
    min-width: 360px;
    max-width: 360px;
    min-height: 250px;
    max-height: 250px;
    object-fit: cover; /* Manter proporções da imagem */
}

.columm{
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.columm h1{
    color: #3E97FF;
    font-family: "Inria Sans", sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding: 6px 4px 8px 4px;
}

.columm h2{
    color: #FFF;
    font-family: "Inria Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 0px 4px 10px 4px;
}

.columm p{
    color: #C8C8C8;
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 0px 4px 10px 4px;
}